<header>
  <div class="d-flex justify-content-between">
      <div class="logo">
          <svg id="Livello_1" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.68 125.6" height="40px">
              <defs>
                  <style>.cls-1{fill:#fff;stroke:#fff;stroke-miterlimit:10;}
                  </style>
              </defs>
              <circle class="cls-1" cx="16.84" cy="16.84" r="16.34"/>
              <circle class="cls-1" cx="16.84" cy="62.8" r="16.34"/>
              <circle class="cls-1" cx="16.84" cy="108.76" r="16.34"/>
          </svg>
          <span class="logoName">VoteBot</span>
      </div>
  </div>
</header>
