<app-header></app-header>
<div class="custom-container">
  <div class="row cards-container">
    <div class="col-12 col-md-6 col-lg-4  mb-4 mb-lg-0">
        <div class="card-content">
          <app-prepare-questions></app-prepare-questions>
        </div> <!-- .card-content -->
    </div> <!-- .col -->
    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="card-content">
          <app-answer-questions></app-answer-questions>
        </div> <!-- .card-content -->
    </div> <!-- .col -->
    <div class="col-12 col-lg-4">
        <div class="card-content">
          <app-poll></app-poll>
        </div> <!-- .card-content -->
    </div> <!-- .col -->
</div> <!-- .row -->
</div>
